.top-catalog {
	padding: 156px 0;
	height: 300px;
}

.top-catalog__title {
	font-size: 50px;
	font-family: $font-slab;
	color: $color-btn;
}
.products {
	padding: 70px 0 140px;
}
.products-groups {
	display: flex;
	justify-content: space-between;
}

.products-groups-title {
	font-size: 36px;
	font-weight: 500;
}
.products-list-item-title {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 10px;
}
.products-list {
	font-size: 20px;
}

.products-list-inp {
	width: 15px;
	height: 15px;
}
.products__cart {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

.products__cart-item {
	position: relative;
	height: 550px;
	transition: all 0.4s;

	&:hover {
		box-shadow: 0 0 20px $color-btn;
		transform: scale(1.03);
		transition: all 0.4s;
		.products__cart-item-show {
			transform: translateY(0);
			opacity: 1;
			transition: all 0.4s;
		}
	}
}

.products__cart-img {
	margin-bottom: 36px;
}
.products__cart-title {
	text-align: center;
	font-size: 22px;
	font-weight: 500;
	color: $color-btn;
	margin-bottom: 10px;
}

.products__cart-price {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color: $color-btn;
	margin-bottom: 20px;
}

.products__cart-btn {
	display: block;
	cursor: pointer;
	margin: 0 auto;
	width: 100%;
	padding: 5px 52px;
	font-size: 16px;
	font-weight: 500;
	border: none;
	color: #fff;
	background-color: $color-btn;
	transition: all 0.4s;

	&:hover {
		background: $bg-color;
		transition: all 0.4s;
	}
}

.products__cart-item-show {
	position: absolute;
	width: 100%;
	bottom: 0;
	transform: translateY(100%);
	opacity: 0;
	// visibility: hidden;

	transition: all 0.3s;
}
